body {
    background-color: rgb(126, 22, 22);
    color: rgb(231, 225, 225);
    font-family: Arial, sans-serif;
    margin: 0;

}

header {
    background-color: rgb(134, 24, 24);
    color: rgb(248, 242, 242);
    text-align: center;
    padding: 30px;
}

h1 {

    font-size: 36px;
}

h2 {
    color: #8a2121;

}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #f10505;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #63131d;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(184, 65, 65);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}

.card {
    background-color: #f3d9fa;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #e25555;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #e7e1e1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
